<div class="row anz-catalogue-container">

    <div class="col-12 col-md-12 col-lg-6 col-xl-4 anz-catalogue-card">
        <div class="card anz-card-content">
            <div class="anz-card-body">
                <h3>PayTo API</h3>
                <p>Fileactive PayTo API</p>
            </div>
            <a href="#" class="card-link" href="{{ site.baseurl }}/fileactive/api/payto-api">View documentation <span>></span></a>        
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-6 col-xl-4 anz-catalogue-card">
        <div class="card anz-card-content">
            <div class="anz-card-body">
                <h3>PayTo API Webhook</h3>
                <p>Fileactive PayTo API Webhook</p>
            </div>
            <a href="#" class="card-link" href="{{ site.baseurl }}/fileactive/api/payto-api-webhook">View documentation <span>></span></a>        
        </div>
    </div>

</div>
