<link rel="icon" type="image/png" href="{{ site.baseurl}}/assets/img/icon/ANZ_DIGITAL_favicon_flat_16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{ site.baseurl}}/assets/img/icon/ANZ_DIGITAL_favicon_flat_32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.baseurl}}/assets/img/icon/ANZ_DIGITAL_favicon_flat_64.png" sizes="64x64">
<link rel="icon" type="image/png" href="{{ site.baseurl}}/assets/img/icon/ANZ_DIGITAL_favicon_flat_128.png" sizes="128x128">
<link rel="icon" type="image/png" href="{{ site.baseurl}}/assets/img/icon/ANZ_DIGITAL_favicon_flat_512.png" sizes="512x512">