@import 'variables';

// Bootstrap overrides

$font-family-sans-serif: "Myriad Pro", Helvetica, Arial, sans-serif;
$navbar-dark-color: $white;
$headings-font-weight: 600;

$btn-hover-bg-shade-amount:       15%;
$btn-hover-bg-tint-amount:        15%;
$btn-hover-border-shade-amount:   20%;
$btn-hover-border-tint-amount:    10%;
$btn-active-bg-shade-amount:      20%;
$btn-active-bg-tint-amount:       20%;
$btn-active-border-shade-amount:  25%;
$btn-active-border-tint-amount:   10%;