// sass variables

// colour
$deep-current: #004165;
$html-link-blue: #0072AC;
$granite: #494949;
$white: #FFFFFF;
$off-white: #F7F7F7;
$smoke: #E0E0E0;
$ocean-blue: #007DBA;
$cloud: #EEEEEE;
$platinum-grey: #BBC4CA;
$platinum-metallic: #8C9093;

// screen width
$small-screen: 768px;
$max-screen-wdith: 1440px;

// typography
$anz-font-family: "Myriad Pro", Helvetica, Arial, sans-serif;

// hero
$hero-height: 600px;
$hero-row-padding: 20px;
$hero-section-padding: 24px;
$hero-text-border: 2px solid $white;

// nav
$nav-height: 65px;
$page-padding-top: 24px;
$page-padding-bottom: 24px;
$section-padding: 24px;
$page-section-padding: 24px;

// toc
$toc-md-padding: 15px;
$toc-nav-padding: 15px;
$toc-nav-li-padding: 2px;

// cards
$card-start-padding: 48px;
$card-api-height: 250px;
$card-link-offset: 20px;
$card-padding: 20px;
$card-section-margin: 5px;
$card-img-width: 50px;
$card-img-margin: 10px;
$card-catalogue-margin: 48px;

// search
$search-padding: 10px;

// general
$code-block-padding: 10px;
$code-block-background: #639cb8;
$code-text-color: #333;
$table-margin: 20px;
$lower-sections-min-height: 800px;
$page-section-h2-border: 1px solid $smoke;
$page-section-h2-padding: 1rem;
