<div id="faq-accordion-container">
{% assign position = 0 %}
{% for section in site.data.acmc.faq %}
<div id="faq-accordion-{{ section.section }}" class="accordion" markdown="1">

### {{ section.section }}

{% for question in section.questions %}

<div class="card faq-card">
    <a class="collapsed faq-button" data-toggle="collapse" data-target="#faq-body-{{ position }}" role="button" aria-expanded="false" aria-controls="faqCard">
        <h4 class="card-header faq-header" id="faq-heading-{{ position }}">{{ question.title }}</h4>
    </a>    
    <div id="faq-body-{{ position }}" class="collapse" aria-labelledby="faq-heading-{{ position }}" data-parent="#faq-accordion-container">
        <div class="card-body" markdown="1">

{{ question.answer }}

<!-- end card-body -->
</div>
<!-- end faq-body -->
</div>
<!-- end card -->
</div>
    
{% assign position = position | plus: 1 %}
{% endfor %}

<!-- end accordion -->
</div>
{% endfor %}

</div>

